@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(0, 100%, 98%);
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 90;
  font-style: normal;
}
main {
  display: flex;
  gap: 30px;
}
.main-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 2rem;
}
.imgs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.logo-img,
.hero-img,
.hero-mob,
.error-icon {
  display: block;
  height: auto;
  width: 100%;
}
.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.input {
  color: black;
  border-radius: 35px;
  padding: 1.5rem;
  width: 80%;
  border: 1px solid hsl(0, 36%, 70%);
}
.input:focus {
  outline: none;
  border: 0.2rem solid hsl(0, 93%, 58%);
}
input[placeholder] {
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 90;
  font-style: normal;
}
.inp-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.error {
  font-size: 1.5rem;
  font-weight: 400;
  color: hsl(0, 93%, 55%);
}
.submit {
  position: absolute;
  left: 80%;
  border-radius: 35px;
  width: 10%;
  border: none;
  cursor: pointer;
}
.submit:hover {
  background-color: hsl(0, 80%, 90%);
}
.error-icon {
  display: none;
  position: absolute;
  left: 72%;
}
.arr-btn {
  padding: 1.3rem;
}
/* .hero-section {
  padding: 2rem;
} */
.attribution {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.attribution a {
  color: blue;
}
@media (min-width: 1024px) {
  .hero-img {
    width: 100%;
  }
  .hero-mob {
    display: none;
  }
  .logo-img {
    width: 40%;
  }
  .notification {
    align-items: unset;
  }
  .error-icon {
    position: absolute;
    left: 72%;
    width: 7%;
  }
  h1 {
    letter-spacing: 1.5rem;
    font-size: 3.5rem;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    line-height: 1.5;
    width: 10ch;
    text-transform: uppercase;
  }
  .action {
    font-weight: 700;
    color: black;
    text-transform: uppercase;
  }
  h1 + p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2;
    width: 40ch;
    color: hsl(0, 36%, 70%);
  }

  #email {
    width: 100%;
    padding: 1.5rem;
  }
  .submit {
    position: absolute;
    left: 80%;
    border-radius: 35px;
    width: 20%;
    cursor: pointer;
    background-color: hsl(0, 80%, 80%);
  }
  #input-form {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .error {
    margin-left: 1.5rem;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .hero-img {
    width: 100%;
  }
  .hero-mob {
    display: none;
  }
  .logo-img {
    width: 30%;
  }
  .notification {
    align-items: unset;
  }
  h1 {
    letter-spacing: 1.5rem;
    font-size: 3rem;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    line-height: 1.5;
    width: 10ch;
    text-transform: uppercase;
  }
  .action {
    font-weight: 700;
    color: black;
    text-transform: uppercase;
  }
  h1 + p {
    font-size: 1.2rem;
    line-height: 2;
    width: 40ch;
    font-weight: 500;
    color: hsl(0, 36%, 70%);
  }
  #input-form {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #email {
    width: 100%;
    padding: 1.5rem;
  }
  #email[placeholder] {
    font-weight: 300;
    font-size: 1.2rem;
  }
  .error-icon {
    position: absolute;
    left: 70%;
    width: 7%;
  }
  .submit {
    position: absolute;
    left: 78%;
    border-radius: 35px;
    width: 22%;
    cursor: pointer;
    background-color: hsl(0, 80%, 80%);
  }
  .arr-btn {
    padding: 0.9rem;
  }
  .error {
    margin-left: 1.5rem;
  }
}
@media (max-width: 767px) {
  main {
    background-color: hsl(0, 100%, 98%);
    gap: 0;
  }
  .hero-img {
    display: none;
  }
  .hero-mob {
    width: 100%;
  }
  .hero-section {
    order: 1;
    padding: 0;
  }
  .main-info {
    padding: 0;
  }
  .main-info {
    order: 2;
  }
  .logo-img {
    width: 30%;
    margin-left: 30px;
  }
  .error-icon {
    width: 5%;
  }
  .notification {
    padding: 2rem;
  }
  h1 {
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    line-height: 1.5;
    width: 12ch;
    text-transform: uppercase;
  }
  .action {
    text-align: center;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
  }
  h1 + p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    width: 36ch;
    color: hsl(0, 36%, 70%);
  }
  #email {
    width: 100%;
    padding: 1.4rem;
  }
  #email[placeholder] {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .error-icon {
    position: absolute;
    left: 67%;
    width: 7%;
  }
  .submit {
    position: absolute;
    left: 75%;
    border-radius: 25px;
    width: 25%;
    cursor: pointer;
    background-color: hsl(0, 80%, 80%);
  }
  .arr-btn {
    padding: 0.8rem;
  }
  #input-form {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .attribution {
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
